In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from schema.config import Config
from utils.dataloader import DataLoader

sns.set_style("whitegrid")

2025-06-15 11:18:44 - utils.logger - INFO     - ロガー設定が完了しました。

In [2]:
cfg = Config.load_config("../conf/main.yaml")
dataset = DataLoader(cfg).load()

2025-06-15 11:18:51 - utils.dataloader - INFO     - Loading Dataset ...

In [ ]:
dataset.train_df.groupby("customer_id")

,t_dat,customer_id,article_id,price,sales_channel_id
28401361,2020-07-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,825577003,0.013542,2
28401362,2020-07-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,849487005,0.042356,2
28401363,2020-07-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,772659001,0.023712,2
28401364,2020-07-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,804732004,0.042356,2
28401365,2020-07-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,804732004,0.042356,2
...,...,...,...,...,...
30703089,2020-08-24,fff726dbb283b3eb9870ab568ca37c302edbc1db6e59e8...,748355003,0.022017,2
30703090,2020-08-24,fff75b504a22d1b913d64769605fb1a6c2bc01d8289878...,633152027,0.033881,2
30703091,2020-08-24,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,934054002,0.050831,2
30703092,2020-08-24,ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...,871664001,0.005068,1
30703093,2020-08-24,ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...,869706005,0.084729,1